

<h1><%= @nugget.topic %></h1>
<h2><%= @nugget.subject %></h2>
<p><%= @nugget.tidbit %></p>

<p>
  Subs:
  <% @nugget.subs.each do |sub| %>
    <%= link_to sub.name, sub_path(sub) %>
  <% end %>
</p>


  <%= link_to "<< Back to Nugget List", nuggets_path %>

  <%= link_to "edit", edit_nugget_path(@nugget) %>

<%= link_to "delete", nugget_path(@nugget), method: :delete, data: {confirm: "Really delete the article?"}
%>


<% if current_user.has_role? "admin" %>
<%= "Eyes" %>

<% end %>
