<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :digits %>
    <%= form.text_field :digits, id: :user_digits %>
  </div>

  <div class="field">
    <%= form.label :cell_carrier %>
    <%= form.select :cell_carrier, [['horrible', 1], ['poor', 2], ['mediocre', 3], ['good', 4], ['great', 5]], id: :user_cell_carrier%>

<!--
    <select :cell_carrier id: :user_cell_carrier>
  <option value="">Select Person</option>
  <option value="1">David</option>
  <option value="2">Eileen</option>
  <option value="3">Rafael</option>

 -->

    <!-- <%= form.text_field :cell_carrier, id: :user_cell_carrier %> -->
  </div>




<!--
  <select name="phone_stuff">
<%= form.select :status, [["Single", "single"], ["Married", "married"], ["Engaged", "engaged"], ["In a Relationship", "relationship"]], {} %> -->

    <!-- <%= form.select :cell_carrier,  [
    ['First Option','first_option'],
    ['Second Option','second_option']
  ], {}, :prompt => 'Select One' %> -->

       <!-- <option value="<%= "vztext" %>"><%= "Verizon" %></option> -->

   </select>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
