<!DOCTYPE html>
<html>
  <head>
    <title>HerokuNugget</title>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/navigation' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <!-- <div class="enjoy-css">I'M READY LET'S GO!</div>
<link async href="http://fonts.googleapis.com/css?family=Acme" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/> -->


  <body>
    <div id="container">
      <div id="content">
        <%= yield %>
        <hr>
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
      </div>
    </div>
  </body>
</html>
